body,
main {
    width: 100vw;
    height: 100vh;
    padding: 0;
    border: 0;
    margin: 0;

    background-color: #191919;
    color: #f1f6f5;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > h1 {
    border-bottom: 1px solid #f1f6f5;
    font-size: 4.2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

nav ul li {
    padding: 0 15px;
    font-size: 2.2rem;
}

nav ul li:not(:last-child) {
    border-right: 1px solid #f1f6f5;
}

a {
    color: inherit;
    text-decoration: none;
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 7px;
    }
}

@media screen and (max-width: 600px) {
    main > h1 {
        border-bottom: 1px solid #f1f6f5;
        font-size: 4rem;
    }
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        padding: 8px 0;
        font-size: 2.4rem;
    }

    nav ul li:not(:last-child) {
        border-right: none;
    }
}
